$cardCommonPadding: .5em;
$cardWidth: 20em;

.customer-cards {
    list-style: none;
    padding: 0;
    & .card {
        text-transform: capitalize;
        border: 1px solid #e7e7e7;
        width: $cardWidth;
        display: inline-block;
    }
    & .card-header {
        padding: $cardCommonPadding;
        background: rgb(98, 98, 250);
    }
    & .card-body {
        padding: $cardCommonPadding;
        min-height: 5em;
    }
}